div.archived {
    -webkit-filter: opacity(80%);
    filter: opacity(80%);
    background-color: #dfd8d8;
    padding: 10px 15px;
}

#pageAlternative {
    margin-top:20px;
}
button.alternative {
    border-radius: 30px;
    padding: 5px 9px;
}

