<div id="editUser" class"contianer-fluid">

	<h1>{{title}}</h1>

	<form name="formEdit" ng-submit="editUser_save()" novalidate>

		<div class="form-group" ng-class="{ 'has-error' : formEdit.form_name.$invalid && formEdit.form_name.$dirty }">
			<label for="form_name">Namn</label>
			<input
				type="text"
				name="form_name"
				id="form_name"
				ng-model="form.name"
				class="form-control"
				ng-minlength="4"
				ng-maxlength="30"
				required />
		</div>
		<p ng-show="formEdit.form_name.$touched && formEdit.form_name.$invalid" class="text-danger">Namnet är ogiltigt. OBS strängen måste bestå av 4 till 40 tecken.</p>

		<div class="form-group" ng-class="{ 'has-error' : formEdit.form_description.description.$invalid && formEdit.form_description.$dirty }">
			<label for="form_description">Beskrivning</label>
			<textarea
				type="textarea"
				name="form_description"
				id="form_description"
				ng-model="form.description"
				class="form-control"
				rows ="5"
				ng-minlength="0"
				ng-maxlength="2000"></textarea>
		</div>

		<div class="form-group">
			<div class="col-sm-12">
				<button class="btn btn-default  pull-right">Ångra</button>
				<input
					type		="submit"
					class		="btn btn-primary pull-right"
					ng-disabled	="formEdit.$invalid"
					value		="Spara">
				</input>
			</div>
		</div>
	</form>
</div>