<div id="pick-portrait" class="panel panel-default" ng-init="init()">
	<div class="panel-heading">
		Porträtt
	</div>

	<div class="panel-body">

		<div class="form-group" ng-init="search.gender='male'" class="col-sm-4">
			<label>Kön: </label>
			<span class="radio-inline" >
				<label>
				<input type="radio" ng-model="search.gender" value="male" >Man
				</label>
			</span>
			<span class="radio-inline">
				<label>
				<input type="radio" ng-model="search.gender" value="female">Kvinna
				</label>
			</span>
			<span class="radio-inline">
				<label>
				<input type="radio" ng-model="search.gender" value="!!">Båda
				</label>
			</span>
		</div>

        <div class="row">
        	<div class="col-sm-8">
        		<div class="row">
        			<div class="col-sm-12">
        				<div class="form-group">
	        			<label>Sökord</label>
	        			<input type="text" class="form-control" placeholder="Search" ng-model="searchFor" />
	        			</div>
        			</div>
        		</div>
        		<div class="row">
        			<div class="col-sm-12">
	        			<span ng-repeat="item in portraitSearch = ( portraits | filter: {tags :searchFor} | filter: {tags :search.gender}:exceptEmptyComparator ) | start: (bigCurrentPage - 1) * pageSize | limitTo: pageSize ">
			                <div style="background-image: url('{{item.medium}}')" class="portrait_thumbnail" title="{{item.tags}}" ng-click="selectImg(item)"></div>
			            </span>
		            </div>
        		</div>
        		<div class="row">
        			<div class="col-sm-12">
    					<ul uib-pagination total-items="portraitSearch.length" items-per-page="pageSize" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" force-ellipses="true"></ul>
    				</div>
        		</div>
        	</div>
        	<div class="col-sm-4">
				<div style="background-image: url('{{selectedPortrait.url}}')" class="portrait_picker_inspect"></div>
        	</div>
        </div>

        <div class="row">
        	<div class="col-sm-2 pull-right">
        		<div class="btn-group" role="group" aria-label="...">
				  <button type="button" class="btn btn-primary" ng-click="pickImg()">Välj</button>
				</div>
        	</div>
        </div>

	</div>
</div>

