<div ng-controller="SearchPortraitCtrl" ng-init="searchPortrait_init()" class="panel panel-default">
	<div class="panel-heading">
		Porträtt
	</div>
	<div class="panel-body">
		<div class="container-fluid">
			<div class="row">
				<input type="text"
				name="portraitTag"
				id="portraitTag"
				ng-model="searchString"
		        ng-change="searchPortrait(searchString, 1)"
		        ng-model-options="{debounce: 750}"
				class="form-control"
				placeholder = "Sökfilter"
				ng-maxlength="20" />
			</div>

			<div id="rp_portrait_results" class="row" ng-show="{{portraits}}">
				<div class="row">
					<div ng-repeat="portrait in portraits" class="col-sm-1">
						<div style="background-image: url('{{portrait.thumbnail}}');" alt="porträtt" class="portrait_thumbnail" ng-click="selectPortrait(portrait)"></div>
					</div>
				</div>
			</div>


			<nav aria-label="Page navigation" class="row">
				<ul class="pagination">
					<li>
					  <button aria-hidden="true" class="pagination_button_left" ng-disabled="currentSearchPage == 1" ng-click="searchPortrait(searchString,currentSearchPage-1)">&laquo;</button>
					</li>
					<li ng-repeat="a in repeatXTimes(portraits_nrPages) track by $index">
						<div class="page_nav_box" ng-class="{active : $index == currentSearchPage-1}" ng-click="searchPortrait(searchString,$index +1)">{{$index + 1}}</div>
					</li>
					<li >
				    	<button aria-hidden="true" class="pagination_button_right" ng-disabled="currentSearchPage >= maxSearchPage" ng-click="searchPortrait(searchString,currentSearchPage+1)">&raquo;</button>
					</li>
				</ul>
			</nav>

		</div>
	</div>
	</div>
</div>