<div id="single_rpg" ng-init="init()" style="container-fluid">
	<h1>{{campaginData.name}}</h1>

	<div class="row">
		<div class="col-sm-8">
			<div id="chronicle">
				<div class="chronicleWrapper" scroll-glue>
					<div ng-repeat="chronicle in chronicles" title="{{chronicle.created_at | date: 'yyyy-MM-dd \k\l HH:mm'}}" class="row {{chronicle.styleClass}}" ng-class-odd="'odd_element'">
						<div class="col-sm-1" ng-show="chronicle.styleClass != 'entry-chronicle-gm' ">
							<div ng-style="{'background-image':'url({{chronicle.character.portrait}})'}" alt="bild" class="portrait" title="{{chronicle.character.name}}" ng-href="/user/{{chronicle.character.id}}" ng-show="chronicle.character">
							</div>
						</div>
						<div class="col-sm-11 text-column">{{chronicle.text}}</div>
					</div>
				</div> <!-- container -->
			</div> <!-- chronicle -->
		</div>
		<div class="col-sm-4">
			<uib-tabset active="activeJustified" justified="true">
      			<uib-tab index="0" heading="Konversation">
      				<div id="chat">
						<div class="chatWrapper" scroll-glue>
							<p ng-repeat="chat in chats" title="{{chat.date | date:'yyyy-MM-dd \k\l HH:mm'}}">
								<label ng-href="/user/{{chat.user_id}}">{{chat.name}}</label>
								<span>{{chat.text}}</span>
							</p>
						</div>
					</div>
      			</uib-tab>
      			<uib-tab index="1" heading="Tärningshistorik">
      				<div id="chat_dices">
	      				<div class="chatDiceWrapper" scroll-glue>
							<p ng-repeat="die in dices" title="{{die.date | date: 'yyyy-MM-dd \k\l HH:mm'}} | reverse">
								<label ng-href="/user/{{die.user_id}}">{{die.name}}</label>
								<span>{{die.text}}</span>
							</p>
						</div>
					</div>
      			</uib-tab>
      		</uib-tabset>
		</div> <!-- col-sm-8 -->
	</div>

	<div id="input">
		<div name="outerForm" class="tab-form-demo">
	    	<uib-tabset active="activeForm">
				<uib-tab index="0" heading="Konversation">
					<div class="panel panel-default">
						<div class="panel-heading">
						<h3 class="panel-title">Konversation</h3>
						</div>
						<div class="panel-body">
							<rpg-input-chat-dir></rpg-input-chat-dir>
						</div> <!-- Panel body-->
					</div>
				</uib-tab>

				<uib-tab index="1" heading="Äventyrsinlägg">
					<div class="panel panel-default">
						<div class="panel-heading">
						<h3 class="panel-title">Äventyrsinlägg</h3>
						</div>
						<div class="panel-body">
							<rpg-input-chronicle-dir></rpg-input-chronicle-dir>
						</div> <!-- Panel body-->
					</div>
				</uib-tab>

				<uib-tab index="2" heading="Tärningar" >
					<div class="panel panel-default">
						<div class="panel-heading">
						<h3 class="panel-title">Tärningar</h3>
						</div>
						<div class="panel-body">
							<rpg-input-dices-dir></rpg-input-dices-dir>
						</div> <!-- Panel body-->
					</div>
				</uib-tab>
		    </uib-tabset>
	  	</div>
	</div>

	<div id="activeUsers">
		<label>Inloggade: </label>
		<div>
			<img ng-repeat="user in activeUsers" ng-src="{{user.avatar}}" class="activeUserAvatar" alt="{{user.name}}" title="{{user.name}}">
		</div>
	</div>

</div>
