html, body {
    width: 100%;
    height: auto;
    min-height: 100%;
}

body {
	//background-color: blue;
	//background-image: url('../img/patterns/sayagata-400px.png');
	background-image: url('../img/patterns/symphony.png');
	//background-image: url('../img/patterns/contemporary_china.png');
	//background-image: url('../img/patterns/paper_3.png');
	//background-image: url('../img/patterns/lined_paper.png');
	background-size: 30% auto;
}

@font-face {
	font-family: "Garamond";
	src: url("../fonts/GARA.TTF");
}


h2,h1 {
	/*text-transform: capitalize;*/
}

h1:first-letter, h2:first-letter  {
    text-transform: uppercase;
}

.btn {
	margin-right: 5px;
}
.text_easy_read {
	/*white-space: pre-wrap;*/
	max-width: 550px;
	font-size: 16px;
	line-height: 2em;
	/*font-family: Garamond;*/
}

