// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
@import "bower_components/bootstrap-social/bootstrap-social.scss";
@import '_init';

/*
	==============================================
		App wrapper
   	==============================================
*/
#app_wrapper {
    max-width: 980px;
    min-height: 600px;
    margin: 0 auto;
    //background-color: #eaebee;
    background-color: rgba(234, 235, 238, 0.67);
    border: 1px solid #e3e3e3;
    padding: 10px;
}

/*
	==============================================
		Banner
   	==============================================
*/
#app_banner {
	position: relative;
	background-color: #8ea9ce;
	height: 124px;
	width: 100%;
	margin:0;
	padding:0;
	border-bottom: 2px solid #453f3f;
	border-top: 2px solid white;
	.white_stroke {
		position: absolute;
		top: 0;
		left:0;
		background-color: rgba(250,250,250,0.04);
		width: 100%;
		height: 50%;
	}
	.logo {
		display: inline-block;
		background-image: url(../img/decoration/logo.svg);
		background-repeat: no-repeat;
		width: 120px;
	    height: 120px;
	    background-size: cover;
	}
	.logotext {
	    font-size: 50px;
    	color: #1e1c20;
	    font-family: Garamond;
	    line-height: 120px;
	    display: inline-block;
	    position: relative;
	    top: -40px;
	    left: 5px;
	    text-transform: uppercase;
	    text-shadow: 0px 0px 10px white;
	}
	#user_section {
		position : absolute;
		right: 10px;
		bottom: 10px;
	    text-align: right;
	    .glyphicon {
			cursor: pointer;
			display:none;
		}
		.loginBt {
			background-color: rgba(0,0,0,0.8);
			padding: 5px 10px;
			color: white;
		    text-decoration: none;
		    i {
	    	    border-right: 1px solid #edeaea;
			    margin-right: 5px;
			    padding-right: 5px;
		    }
		}
		.loginBt:hover {
			background-color: rgba(0,0,0,0.9);
		}
		#user_menu {
			display: none;
			position: relative;
			left: 10px;
		    top: 4px;
			ul {
				position: absolute;
				top:100%;
				right: 10px;
				list-style:none;
				margin:0;
				padding:5px;
				min-width: 100px;
				text-align: right;
				font-size: 14px;
				background-color: rgba(250,250,250,0.5);
				border: 1px solid #c1b8b8;
				li {
					display:inline-block;
					padding: 0;
					cursor: pointer;
					font-weight:bold;
				}
			}
		}

	}
}

/*
	==============================================
		App Navigation
   	==============================================
*/
#app_nav {
	ul {
		list-style: none;
		padding: 0;
		li {
			display: inline-block;
			padding-left: 5px;
		}
	}
}

/*
	==============================================
		App content
   	==============================================
*/
#app_content {
	min-height: 600px;
	margin: 20px 70px;
}


/*
	==============================================
		Footer
   	==============================================
*/
#app_footer {
	height: 120px;
	width: 100%;
	background-color: #8ea9ce;
}

/*
	==============================================
		Campaign
   	==============================================
*/

@import 'pages/_single_campaign';

/*
	==============================================
		Chronicle
   	==============================================
*/
.chronicle_entry {
	margin: 10px 0;
	border-bottom: 1px solid #e3dcdc;
	padding-bottom: 5px;
}
.chronicle_rp_image {
	max-height : 50px;
	max-width: 50px;
}
.chronicle_gm_image {
	max-height : 150px;
	max-width: 150px;
}


/*
	==============================================
		Single Character
   	==============================================
*/
@import 'pages/_character_single';

/*
	==============================================
		Campaign Applications
   	==============================================
*/
@import 'pages/_camp_applications';


/* Import specific pages */
@import 'pages/_campaign_apply';
@import 'pages/_media';

/* Media queries*/
@import 'media_queries/_large';