<div id="campaign_apply" ng-init="campaignApplication_init()">
	<h1>Spelansökan</h1>
	<p>Ansökan om att delta i <a ng-href="#/campaign/{{campaign.id}}">{{campaign.name}}</a>.</p>

	<div class="panel panel-default">
		<div class="panel-heading">Spelkaraktär</div>
		<div class="panel-body">
			<form name="formApply" ng-submit="save()" novalidate>
				<div class="form-group" ng-class="{ 'has-error' : formApply.name.$invalid && formEdit.new_name.$dirty }">
					<label for="name">Namn</label>
					<input
						type="text"
						name="name"
						id="name"
						ng-model="apply.name"
						class="form-control"
						ng-minlength="3"
						ng-maxlength="30"
						ng-pattern="/^[a-zA-ZåäöÅÄÖ_\s]*$/"
						placeholder = "Namn"
						required />
				</div>
				<p ng-show="formApply.name.$touched && formApply.name.$invalid" class="text-danger">Namnet är ogiltigt. Strängen måste vara mellan 4-30 tecken och bara bestå av bokstäver, mellanslag och liggande tecken.</p>

				<label for="description">Beskrivning</label>
				<div class="row">
					<div class="form-group col-sm-7">
						<textarea
							name="description"
							id="description"
							ng-model="apply.description"
							class="form-control"
							ng-minlength = 3
							ng-maxlength="4500"
							placeholder = "Beskrivning"
							rows="8"
							required/></textarea>
						<p ng-show="formApply.description.$error.minlength" class="text-danger">Beskrivningen är för kort, eller saknas.</p>
					</div>

					<div class="form-group col-sm-5">
						<div id="character_portrait" alt="" style="background-image: url('{{portrait.url}}');"></div>
					</div>
				</div>

				<label for="excerpt">Sammanfattning</label>
				<div class="row">
					<div class="form-group col-sm-12">
						<textarea
							name="excerpt"
							id="excerpt"
							ng-model="apply.excerpt"
							class="form-control"
							ng-minlength = 3
							ng-maxlength="250"
							placeholder = "Sammanfattande beskrivning om din karaktär."
							rows="3"
							required/></textarea>
						<p ng-show="formApply.excerpt.$error.minlength" class="text-danger">Sammanfattningen är för kort, eller saknas.</p>
					</div>
				</div>

				<label for="secret_data">Utrustning</label>
				<div class="row">
					<div class="form-group col-sm-12">
						<textarea
							name="secret_data"
							id="secret_data"
							ng-model="apply.secret_data"
							class="form-control"
							ng-maxlength="4500"
							placeholder = "Utrustning och hemlig information."
							rows="5"
							required/></textarea>
						<p ng-show="formApply.secret_data.$error.minlength" class="text-danger">Sammanfattningen är för lång.</p>
					</div>
				</div>

				<div id="campaign_apply_buttons" class="form-group">
					<div class="col-sm-12">
						<button class="btn btn-default pull-right" ng-click="cancel()">Ångra</button>
						<input
							type		="submit"
							class		="btn btn-primary pull-right"
							ng-disabled	="formApply.$invalid"
							value		="Spara">
						</input>
					</div>
				</div>
			</form>

			<pick-portrait-dir portrait="portrait"></pick-portrait-dir>

		</div>
	</div>


</div>