<div id="singleCampaign" ng-init="setupCampaign()" ng-class="{'archived' : form.archived}">

	<h1>{{form.name}} <span ng-show="form.archived">(arkiverad)</span> </h1>

	<div class="row" id="campaign_information">
		<div class="col-sm-6">
			<div><label>Spelledare:</label> <a ng-href="/#/user/{{form.gamemaster.id}}">{{form.gamemaster.name}}</a></div>
			<div><label>Genre:</label> {{form.genre}}</div>
			<div><label>Antal spelare:</label> {{form.players_count}}/{{form.max_nr_players}}</div>
		</div>
		<div class="col-sm-6">
			<div><label>Startad:</label> {{form.created_at | date: 'yyyy-MM-dd'}}</div>
			<div><label>Uppdaterad:</label> {{form.updated_at | date: 'yyyy-MM-dd'}}</div>
			<div><label>Betyg:</label> {{form.rating}}</div>
		</div>
	</div>

	<div id="campaign-description">
		<label for="campaign_descr">Beskrivning</label>
		<div ng-bind-html="form.description | show_linebreaks " class="text_easy_read" id="campaign_descr"></div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<label>Spelare</label>
			<div class="row players">
				<div ng-repeat="player in form.players" class="col-sm-2">
					<a ng-href="#/character/{{player.id}}"><div style="background-image:url('{{player.portrait.thumbnail}}');" class="portrait_thumbnail"></div></a>
					<span class="applyer_name">{{player.name}}</span>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<label>Ansökningar</label>
			<div class="row appliers">
				<div ng-repeat="applicant in form.applicants" class="col-sm-2">
					<a ng-href="#/character/{{applicant.id}}"><div style="background-image:url('{{applicant.portrait.thumbnail}}');" class="portrait_thumbnail"></div></a>
					<span class="applyer_name">{{applicant.name}}</span>
				</div>
			</div>
		</div>
	</div>

	<div id="pageAlternative" ng-show="form.can_apply || form.i_am_gm || form.i_am_player">
		<button class="btn btn-default alternative" ng-click="showAlt()" title="Alternativ"><span class="glyphicon glyphicon-cog"></span></button>
		<span ng-show="showAlternatives">
			<button ng-show="form.archived" ng-click="activateCampaign()" class="btn btn-default"><span class="glyphicon glyphicon-open-file"></span> Aktivera</button>
			<button ng-show="form.can_apply && !form.archived" ng-click="applyToCampaign()" class="btn btn-default"><span class="glyphicon glyphicon-user"></span> Ansök</button>
			<button ng-show="form.i_am_gm && !form.archived" ng-click="edit()" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> Redigera</button>
			<button ng-show="form.i_am_gm && !form.archived" ng-click="handleApplicants()" class="btn btn-default"><span class="glyphicon glyphicon-user"></span> Hantera ansökningar</button>

		</span>
		<button go-click="/rpg/{{form.id}}" ng-show="form.i_am_gm || form.i_am_player" class="btn btn-primary"><i class="fa fa-weixin" aria-hidden="true"></i> Spelchatt</button>
	</div>

</div>


