<div id="character_single" ng-init="setup()">
	<nav>
		<a ng_href="/#/home">Hem</a> - {{form.name}}
	</nav>

	<h1>{{form.name}}</h1>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3">
				Spelare: <a ng-href="/#/user/{{form.user.id}}">{{form.user.name}}</a>
			</div>
			<div class="col-sm-3">
				Äventyr: <a ng-href="/#/campaign/{{form.campaign.id}}">{{form.campaign.name}}</a>
			</div>
			<div class="col-sm-3">
				Status: {{form.status}}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<span>Skapad: {{form.created_at | date: 'yyyy-MM-dd'}}</span>
			</div>
			<div class="col-sm-3">
				<span> Uppdaterad: {{form.updated_at | date: 'yyyy-MM-dd'}}</span>
			</div>
		</div>
		<div class="row description_container">
			<div class="col-sm-8">
				<label>Beskrivning</label>
				<p ng-bind-html="form.description | show_linebreaks " class="text_easy_read"></p>
			</div>
			<div class="col-sm-4">
				<div class="portrait_medium" style="background-image:url('{{form.portrait.medium}}')"></div>
			</div>
		</div>
		<div ng-show="form.secret_data">
			<label>Hemlig information</label>
			<p ng-bind-html="form.secret_data | show_linebreaks" ></p>
		</div>

		<div ng-show="form.can_edit">
			<a ng-href="/#/edit_character/{{form.id}}"><button class="btn-info" ng-click="">Redigera</button></a>
		</div>
	</div>

</div>